In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time
import glob
%matplotlib inline
from sklearn import preprocessing
import tables
import h5py
from sqlalchemy import create_engine

In [3]:
flights = pd.read_csv('BigData_Pruned_drop_Manu_V1.csv')
flights.head()

C:\Users\andre_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,ANC,SEA,1448,-22,0,0,33.80,...,0,30.32,10.0,CLR,2012.0,BOEING,737-990ER,0,9.1,13.5
1,1,4,DL,ANC,SEA,1448,-24,0,0,33.80,...,0,30.32,10.0,CLR,2001.0,AIRBUS,A321-211,0,9.8,14.2
2,1,4,AA,LAX,PBI,2330,-9,0,0,46.04,...,0,30.21,10.0,FEW,2009.0,BOEING,737-890,0,8.2,15.8
3,1,4,DL,DTW,PBI,1086,-8,0,0,17.96,...,0,30.21,10.0,FEW,2000.0,BOEING,737-832,0,13.0,16.1
4,1,4,AA,LGA,PBI,1035,-12,0,0,28.04,...,0,30.21,10.0,FEW,2014.0,AIRBUS,A320-232,0,12.5,15.5

In [5]:
list(flights)

['MONTH',
 'DOW',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti',
 'dept_vsby',
 'dept_sky',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'arr_alti',
 'arr_vsby',
 'arr_sky',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [4]:
flights["MONTH"] = flights["MONTH"].astype(int)

In [5]:
flights["DOW"] = flights["DOW"].astype(int)

In [6]:
flights["ARRIVAL_DELAY"] = flights["ARRIVAL_DELAY"].astype(int)

In [7]:
flights["DIVERTED"] = flights["DIVERTED"].astype(int)

In [8]:
flights["CANCELLED"] = flights["CANCELLED"].astype(int)

In [9]:
flights["dept_windspd"] = flights["dept_windspd"].astype(int)
flights["arr_windspd"] = flights["arr_windspd"].astype(int)

In [10]:
flights["dept_precip"] = flights["dept_precip"].astype(int)
flights["arr_precip"] = flights["arr_precip"].astype(int)

In [11]:
flights["dept_vsby"] = flights["dept_vsby"].astype(int)
flights["arr_vsby"] = flights["arr_vsby"].astype(int)

In [12]:
flights.to_csv("BigData_Pruned_drop_Manu_V2.csv", index = False)

In [6]:
orig_airports = flights['ORIGIN_AIRPORT'].tolist()
dest_airports = flights['DESTINATION_AIRPORT'].tolist()

In [8]:
le_airports = preprocessing.LabelEncoder()
le_airports.fit(orig_airports)
#print(le_airports.classes_)
enc_orig_airports = le_airports.transform(orig_airports)
enc_dest_airports = le_airports.transform(dest_airports) 

enc_dest_airports

['ABE' 'ABI' 'ABQ' 'ABR' 'ABY' 'ACK' 'ACT' 'ACV' 'ACY' 'ADK' 'ADQ' 'AEX'
 'AGS' 'AKN' 'ALB' 'ALO' 'AMA' 'ANC' 'APN' 'ASE' 'ATL' 'ATW' 'AUS' 'AVL'
 'AVP' 'AZO' 'BDL' 'BET' 'BFL' 'BGM' 'BGR' 'BHM' 'BIL' 'BIS' 'BJI' 'BLI'
 'BMI' 'BNA' 'BOI' 'BOS' 'BPT' 'BQK' 'BQN' 'BRD' 'BRO' 'BRW' 'BTM' 'BTR'
 'BTV' 'BUF' 'BUR' 'BWI' 'BZN' 'CAE' 'CAK' 'CDC' 'CDV' 'CEC' 'CHA' 'CHO'
 'CHS' 'CID' 'CIU' 'CLD' 'CLE' 'CLL' 'CLT' 'CMH' 'CMI' 'CMX' 'CNY' 'COD'
 'COS' 'COU' 'CPR' 'CRP' 'CRW' 'CSG' 'CVG' 'CWA' 'DAB' 'DAL' 'DAY' 'DBQ'
 'DCA' 'DEN' 'DFW' 'DHN' 'DIK' 'DLG' 'DLH' 'DRO' 'DSM' 'DTW' 'DVL' 'EAU'
 'ECP' 'EGE' 'EKO' 'ELM' 'ELP' 'ERI' 'ESC' 'EUG' 'EVV' 'EWN' 'EWR' 'EYW'
 'FAI' 'FAR' 'FAT' 'FAY' 'FCA' 'FLG' 'FLL' 'FNT' 'FSD' 'FSM' 'FWA' 'GCC'
 'GCK' 'GEG' 'GFK' 'GGG' 'GJT' 'GNV' 'GPT' 'GRB' 'GRI' 'GRK' 'GRR' 'GSO'
 'GSP' 'GST' 'GTF' 'GTR' 'GUC' 'GUM' 'HDN' 'HIB' 'HLN' 'HNL' 'HOB' 'HOU'
 'HPN' 'HRL' 'HSV' 'HYA' 'HYS' 'IAD' 'IAG' 'IAH' 'ICT' 'IDA' 'ILG' 'ILM'
 'IMT' 'IND' 'INL' 'ISN' 'ISP' 'ITH' 'ITO' 'JAC' 'JAN' 'JAX' 'JFK' 'JLN'
 'JMS' 'JNU' 'KOA' 'KTN' 'LAN' 'LAR' 'LAS' 'LAW' 'LAX' 'LBB' 'LBE' 'LCH'
 'LEX' 'LFT' 'LGA' 'LGB' 'LIH' 'LIT' 'LNK' 'LRD' 'LSE' 'LWS' 'MAF' 'MBS'
 'MCI' 'MCO' 'MDT' 'MDW' 'MEI' 'MEM' 'MFE' 'MFR' 'MGM' 'MHK' 'MHT' 'MIA'
 'MKE' 'MKG' 'MLB' 'MLI' 'MLU' 'MMH' 'MOB' 'MOT' 'MQT' 'MRY' 'MSN' 'MSO'
 'MSP' 'MSY' 'MTJ' 'MVY' 'MYR' 'OAJ' 'OAK' 'OGG' 'OKC' 'OMA' 'OME' 'ONT'
 'ORD' 'ORF' 'ORH' 'OTH' 'OTZ' 'PAH' 'PBG' 'PBI' 'PDX' 'PHF' 'PHL' 'PHX'
 'PIA' 'PIB' 'PIH' 'PIT' 'PLN' 'PNS' 'PPG' 'PSC' 'PSE' 'PSG' 'PSP' 'PUB'
 'PVD' 'PWM' 'RAP' 'RDD' 'RDM' 'RDU' 'RHI' 'RIC' 'RKS' 'RNO' 'ROA' 'ROC'
 'ROW' 'RST' 'RSW' 'SAF' 'SAN' 'SAT' 'SAV' 'SBA' 'SBN' 'SBP' 'SCC' 'SCE'
 'SDF' 'SEA' 'SFO' 'SGF' 'SGU' 'SHV' 'SIT' 'SJC' 'SJT' 'SJU' 'SLC' 'SMF'
 'SMX' 'SNA' 'SPI' 'SPS' 'SRQ' 'STC' 'STL' 'STT' 'STX' 'SUN' 'SUX' 'SWF'
 'SYR' 'TLH' 'TOL' 'TPA' 'TRI' 'TTN' 'TUL' 'TUS' 'TVC' 'TWF' 'TXK' 'TYR'
 'TYS' 'UST' 'VEL' 'VLD' 'VPS' 'WRG' 'WYS' 'XNA' 'YAK' 'YUM']

array([277, 277, 277, ..., 303, 203, 285], dtype=int64)

In [10]:
flights['ORIGIN_AIRPORT'] = enc_orig_airports
flights['DESTINATION_AIRPORT'] = enc_dest_airports
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,17,277,1448,-22.0,0,0,33.8,...,10.0,M,CLR,M,12/18/2012,BOEING,737-990ER,0,9.1,13.5
1,1,4,AS,17,277,1448,-14.0,0,0,33.8,...,10.0,M,CLR,M,0,0,0,0,9.8,14.2
2,1,4,DL,17,277,1448,-24.0,0,0,33.8,...,10.0,M,CLR,M,04/10/2001,AIRBUS,A321-211,0,9.8,14.2
3,1,4,AS,121,277,224,0.0,0,0,8.96,...,10.0,M,CLR,M,0,0,0,0,13.0,14.2
4,1,4,AA,176,235,2330,-9.0,0,0,46.04,...,10.00,M,FEW,M,05/26/2009,BOEING,737-890,0,8.2,15.8

In [13]:
manufacts = flights['Manu'].tolist()

le_manu = preprocessing.LabelEncoder()
le_manu.fit(manufacts)
#print(le_airports.classes_)
enc_manufacts = le_manu.transform(manufacts)

flights['Manu'] = enc_manufacts
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,17,277,1448,-22.0,0,0,33.8,...,10.0,M,CLR,M,12/18/2012,7,737-990ER,0,9.1,13.5
1,1,4,AS,17,277,1448,-14.0,0,0,33.8,...,10.0,M,CLR,M,0,0,0,0,9.8,14.2
2,1,4,DL,17,277,1448,-24.0,0,0,33.8,...,10.0,M,CLR,M,04/10/2001,2,A321-211,0,9.8,14.2
3,1,4,AS,121,277,224,0.0,0,0,8.96,...,10.0,M,CLR,M,0,0,0,0,13.0,14.2
4,1,4,AA,176,235,2330,-9.0,0,0,46.04,...,10.00,M,FEW,M,05/26/2009,7,737-890,0,8.2,15.8

In [14]:
models = flights['Model'].tolist()

le_model = preprocessing.LabelEncoder()
le_model.fit(models)
#print(le_airports.classes_)
enc_models = le_model.transform(models)

flights['Model'] = enc_models
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,17,277,1448,-22.0,0,0,33.8,...,10.0,M,CLR,M,12/18/2012,7,55,0,9.1,13.5
1,1,4,AS,17,277,1448,-14.0,0,0,33.8,...,10.0,M,CLR,M,0,0,0,0,9.8,14.2
2,1,4,DL,17,277,1448,-24.0,0,0,33.8,...,10.0,M,CLR,M,04/10/2001,2,105,0,9.8,14.2
3,1,4,AS,121,277,224,0.0,0,0,8.96,...,10.0,M,CLR,M,0,0,0,0,13.0,14.2
4,1,4,AA,176,235,2330,-9.0,0,0,46.04,...,10.00,M,FEW,M,05/26/2009,7,48,0,8.2,15.8

In [18]:
arr_weather = flights['arr_weather'].tolist()
dept_weather = flights['dept_weather'].tolist()

le_arr_weather = preprocessing.LabelEncoder()
le_arr_weather.fit(arr_weather)
#print(le_airports.classes_)
enc_arr_weather = le_arr_weather.transform(arr_weather)

le_dept_weather = preprocessing.LabelEncoder()
le_dept_weather.fit(dept_weather)
#print(le_airports.classes_)
enc_dept_weather = le_dept_weather.transform(dept_weather)

flights['arr_weather'] = enc_arr_weather
flights['dept_weather'] = enc_dept_weather
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,17,277,1448,-22.0,0,0,33.8,...,10.0,M,CLR,257,12/18/2012,7,55,0,9.1,13.5
1,1,4,AS,17,277,1448,-14.0,0,0,33.8,...,10.0,M,CLR,257,0,0,0,0,9.8,14.2
2,1,4,DL,17,277,1448,-24.0,0,0,33.8,...,10.0,M,CLR,257,04/10/2001,2,105,0,9.8,14.2
3,1,4,AS,121,277,224,0.0,0,0,8.96,...,10.0,M,CLR,257,0,0,0,0,13.0,14.2
4,1,4,AA,176,235,2330,-9.0,0,0,46.04,...,10.00,M,FEW,257,05/26/2009,7,48,0,8.2,15.8

In [21]:
arr_sky = flights['arr_sky'].tolist()
dept_sky = flights['dept_sky'].tolist()

le_sky = preprocessing.LabelEncoder()
le_sky.fit(arr_sky)
#print(le_airports.classes_)
enc_arr_sky = le_sky.transform(arr_sky)
enc_dept_sky = le_sky.transform(dept_sky)

flights['dept_sky'] = enc_dept_sky
flights['arr_sky'] = enc_arr_sky
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,17,277,1448,-22.0,0,0,33.8,...,10.0,M,1,257,12/18/2012,7,55,0,9.1,13.5
1,1,4,AS,17,277,1448,-14.0,0,0,33.8,...,10.0,M,1,257,0,0,0,0,9.8,14.2
2,1,4,DL,17,277,1448,-24.0,0,0,33.8,...,10.0,M,1,257,04/10/2001,2,105,0,9.8,14.2
3,1,4,AS,121,277,224,0.0,0,0,8.96,...,10.0,M,1,257,0,0,0,0,13.0,14.2
4,1,4,AA,176,235,2330,-9.0,0,0,46.04,...,10.00,M,2,257,05/26/2009,7,48,0,8.2,15.8

In [24]:
airlines = flights['AIRLINE'].tolist()
le_airline = preprocessing.LabelEncoder()
le_airline.fit(airlines)
#print(le_airports.classes_)
enc_airlines = le_airline.transform(airlines)

flights['AIRLINE'] = enc_airlines
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,1,17,277,1448,-22.0,0,0,33.8,...,10.0,M,1,257,12/18/2012,7,55,0,9.1,13.5
1,1,4,1,17,277,1448,-14.0,0,0,33.8,...,10.0,M,1,257,0,0,0,0,9.8,14.2
2,1,4,3,17,277,1448,-24.0,0,0,33.8,...,10.0,M,1,257,04/10/2001,2,105,0,9.8,14.2
3,1,4,1,121,277,224,0.0,0,0,8.96,...,10.0,M,1,257,0,0,0,0,13.0,14.2
4,1,4,0,176,235,2330,-9.0,0,0,46.04,...,10.00,M,2,257,05/26/2009,7,48,0,8.2,15.8

In [27]:
flights.loc[flights.arr_gust == 'M', 'arr_gust'] = 0
flights.loc[flights.dept_gust == 'M', 'dept_gust'] = 0
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,1,17,277,1448,-22.0,0,0,33.8,...,10.0,0,1,257,12/18/2012,7,55,0,9.1,13.5
1,1,4,1,17,277,1448,-14.0,0,0,33.8,...,10.0,0,1,257,0,0,0,0,9.8,14.2
2,1,4,3,17,277,1448,-24.0,0,0,33.8,...,10.0,0,1,257,04/10/2001,2,105,0,9.8,14.2
3,1,4,1,121,277,224,0.0,0,0,8.96,...,10.0,0,1,257,0,0,0,0,13.0,14.2
4,1,4,0,176,235,2330,-9.0,0,0,46.04,...,10.00,0,2,257,05/26/2009,7,48,0,8.2,15.8

In [28]:
flights.columns

Index(['MONTH', 'DOW', 'AIRLINE', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'DISTANCE', 'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'dept_temp',
       'dept_dew', 'dept_hum', 'dept_windspd', 'dept_precip', 'dept_alti',
       'dept_vsby', 'dept_gust', 'dept_sky', 'dept_weather', 'arr_temp',
       'arr_dew', 'arr_hum', 'arr_windspd', 'arr_precip', 'arr_alti',
       'arr_vsby', 'arr_gust', 'arr_sky', 'arr_weather', 'CertificateDate',
       'Manu', 'Model', 'DAYS', 'DEPARTURE_HOUR', 'ARRIVAL_HOUR'],
      dtype='object')

In [ ]:
plane_birthdays = flights['CertificateDate'].tolist()
plane_age = []
for curr_day in plane_birthdays:
    day = str(curr_day)
    if day != '0' and day != 'None':
        #print(day)
        plane_age.append(2015 - int(day[-4:]))
    else:
        plane_age.append('-1')
print (plane_age)