In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import pytz
from tzwhere import tzwhere
%matplotlib inline

In [2]:
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports_v2.csv')
flights = pd.read_csv('Flights_Modified_V6.csv', low_memory=False)

In [3]:
tzwhere = tzwhere.tzwhere()

In [4]:
airportTimezoneMapping = dict()
for index in range(len(airports)):
    airportTimezoneMapping[airports["IATA_CODE"][index]] = airports["Timezone"][index]
airportTimezoneMapping

{'ABE': 'America/New_York',
 'ABI': 'America/Chicago',
 'ABQ': 'America/Denver',
 'ABR': 'America/Chicago',
 'ABY': 'America/New_York',
 'ACK': 'America/New_York',
 'ACT': 'America/Chicago',
 'ACV': 'America/Los_Angeles',
 'ACY': 'America/New_York',
 'ADK': 'America/Adak',
 'ADQ': 'America/Anchorage',
 'AEX': 'America/Chicago',
 'AGS': 'America/New_York',
 'AKN': 'America/Anchorage',
 'ALB': 'America/New_York',
 'ALO': 'America/Chicago',
 'AMA': 'America/Chicago',
 'ANC': 'America/Anchorage',
 'APN': 'America/Detroit',
 'ASE': 'America/Denver',
 'ATL': 'America/New_York',
 'ATW': 'America/Chicago',
 'AUS': 'America/Chicago',
 'AVL': 'America/New_York',
 'AVP': 'America/New_York',
 'AZO': 'America/Detroit',
 'BDL': 'America/New_York',
 'BET': 'America/Anchorage',
 'BFL': 'America/Los_Angeles',
 'BGM': 'America/New_York',
 'BGR': 'America/New_York',
 'BHM': 'America/Chicago',
 'BIL': 'America/Denver',
 'BIS': 'America/Chicago',
 'BJI': 'America/Chicago',
 'BLI': 'America/Los_Angeles',
 'BMI': 'America/Chicago',
 'BNA': 'America/Chicago',
 'BOI': 'America/Boise',
 'BOS': 'America/New_York',
 'BPT': 'America/Chicago',
 'BQK': 'America/New_York',
 'BQN': 'America/Puerto_Rico',
 'BRD': 'America/Chicago',
 'BRO': 'America/Chicago',
 'BRW': 'America/Anchorage',
 'BTM': 'America/Denver',
 'BTR': 'America/Chicago',
 'BTV': 'America/New_York',
 'BUF': 'America/New_York',
 'BUR': 'America/Los_Angeles',
 'BWI': 'America/New_York',
 'BZN': 'America/Denver',
 'CAE': 'America/New_York',
 'CAK': 'America/New_York',
 'CDC': 'America/Denver',
 'CDV': 'America/Anchorage',
 'CEC': 'America/Los_Angeles',
 'CHA': 'America/New_York',
 'CHO': 'America/New_York',
 'CHS': 'America/New_York',
 'CID': 'America/Chicago',
 'CIU': 'America/Detroit',
 'CLD': 'America/Los_Angeles',
 'CLE': 'America/New_York',
 'CLL': 'America/Chicago',
 'CLT': 'America/New_York',
 'CMH': 'America/New_York',
 'CMI': 'America/Chicago',
 'CMX': 'America/Detroit',
 'CNY': 'America/Denver',
 'COD': 'America/Denver',
 'COS': 'America/Denver',
 'COU': 'America/Chicago',
 'CPR': 'America/Denver',
 'CRP': 'America/Chicago',
 'CRW': 'America/New_York',
 'CSG': 'America/New_York',
 'CVG': 'America/New_York',
 'CWA': 'America/Chicago',
 'DAB': 'America/New_York',
 'DAL': 'America/Chicago',
 'DAY': 'America/New_York',
 'DBQ': 'America/Chicago',
 'DCA': 'America/New_York',
 'DEN': 'America/Denver',
 'DFW': 'America/Chicago',
 'DHN': 'America/Chicago',
 'DIK': 'America/Denver',
 'DLG': 'America/Anchorage',
 'DLH': 'America/Chicago',
 'DRO': 'America/Denver',
 'DSM': 'America/Chicago',
 'DTW': 'America/Detroit',
 'DVL': 'America/Chicago',
 'EAU': 'America/Chicago',
 'ECP': 'Asia/Urumqi',
 'EGE': 'America/Denver',
 'EKO': 'America/Los_Angeles',
 'ELM': 'America/New_York',
 'ELP': 'America/Denver',
 'ERI': 'America/New_York',
 'ESC': 'America/Detroit',
 'EUG': 'America/Los_Angeles',
 'EVV': 'America/Chicago',
 'EWN': 'America/New_York',
 'EWR': 'America/New_York',
 'EYW': 'America/New_York',
 'FAI': 'America/Anchorage',
 'FAR': 'America/Chicago',
 'FAT': 'America/Los_Angeles',
 'FAY': 'America/New_York',
 'FCA': 'America/Denver',
 'FLG': 'America/Phoenix',
 'FLL': 'America/New_York',
 'FNT': 'America/Detroit',
 'FSD': 'America/Chicago',
 'FSM': 'America/Chicago',
 'FWA': 'America/Indiana/Indianapolis',
 'GCC': 'America/Denver',
 'GCK': 'America/Chicago',
 'GEG': 'America/Los_Angeles',
 'GFK': 'America/Chicago',
 'GGG': 'America/Chicago',
 'GJT': 'America/Denver',
 'GNV': 'America/New_York',
 'GPT': 'America/Chicago',
 'GRB': 'America/Chicago',
 'GRI': 'America/Chicago',
 'GRK': 'America/Chicago',
 'GRR': 'America/Detroit',
 'GSO': 'America/New_York',
 'GSP': 'America/New_York',
 'GST': 'America/Juneau',
 'GTF': 'America/Denver',
 'GTR': 'America/Chicago',
 'GUC': 'America/Denver',
 'GUM': 'Pacific/Guam',
 'HDN': 'America/Denver',
 'HIB': 'America/Chicago',
 'HLN': 'America/Denver',
 'HNL': 'Pacific/Honolulu',
 'HOB': 'America/Denver',
 'HOU': 'America/Chicago',
 'HPN': 'America/New_York',
 'HRL': 'America/Chicago',
 'HSV': 'America/Chicago',
 'HYA': 'America/New_York',
 'HYS': 'America/Chicago',
 'IAD': 'America/New_York',
 'IAG': 'America/New_York',
 'IAH': 'America/Chicago',
 'ICT': 'America/Chicago',
 'IDA': 'America/Boise',
 'ILG': 'America/New_York',
 'ILM': 'America/New_York',
 'IMT': 'America/Menominee',
 'IND': 'America/Indiana/Indianapolis',
 'INL': 'America/Chicago',
 'ISN': 'America/Chicago',
 'ISP': 'America/New_York',
 'ITH': 'America/New_York',
 'ITO': 'Pacific/Honolulu',
 'JAC': 'America/Denver',
 'JAN': 'America/Chicago',
 'JAX': 'America/New_York',
 'JFK': 'America/New_York',
 'JLN': 'America/Chicago',
 'JMS': 'America/Chicago',
 'JNU': 'America/Juneau',
 'KOA': 'Pacific/Honolulu',
 'KTN': 'America/Juneau',
 'LAN': 'America/Detroit',
 'LAR': 'America/Denver',
 'LAS': 'America/Los_Angeles',
 'LAW': 'America/Chicago',
 'LAX': 'America/Los_Angeles',
 'LBB': 'America/Chicago',
 'LBE': 'America/New_York',
 'LCH': 'America/Chicago',
 'LEX': 'America/New_York',
 'LFT': 'America/Chicago',
 'LGA': 'America/New_York',
 'LGB': 'America/Los_Angeles',
 'LIH': 'Pacific/Honolulu',
 'LIT': 'America/Chicago',
 'LNK': 'America/Chicago',
 'LRD': 'America/Chicago',
 'LSE': 'America/Chicago',
 'LWS': 'America/Los_Angeles',
 'MAF': 'America/Chicago',
 'MBS': 'America/Detroit',
 'MCI': 'America/Chicago',
 'MCO': 'America/New_York',
 'MDT': 'America/New_York',
 'MDW': 'America/Chicago',
 'MEI': 'America/Chicago',
 'MEM': 'America/Chicago',
 'MFE': 'America/Chicago',
 'MFR': 'America/Los_Angeles',
 'MGM': 'America/Chicago',
 'MHK': 'America/Chicago',
 'MHT': 'America/New_York',
 'MIA': 'America/New_York',
 'MKE': 'America/Chicago',
 'MKG': 'America/Detroit',
 'MLB': 'America/New_York',
 'MLI': 'America/Chicago',
 'MLU': 'America/Chicago',
 'MMH': 'America/Los_Angeles',
 'MOB': 'America/Chicago',
 'MOT': 'America/Chicago',
 'MQT': 'America/Detroit',
 'MRY': 'America/Los_Angeles',
 'MSN': 'America/Chicago',
 'MSO': 'America/Denver',
 'MSP': 'America/Chicago',
 'MSY': 'America/Chicago',
 'MTJ': 'America/Denver',
 'MVY': 'America/New_York',
 'MYR': 'America/New_York',
 'OAJ': 'America/New_York',
 'OAK': 'America/Los_Angeles',
 'OGG': 'Pacific/Honolulu',
 'OKC': 'America/Chicago',
 'OMA': 'America/Chicago',
 'OME': 'America/Nome',
 'ONT': 'America/Los_Angeles',
 'ORD': 'America/Chicago',
 'ORF': 'America/New_York',
 'ORH': 'America/New_York',
 'OTH': 'America/Los_Angeles',
 'OTZ': 'America/Nome',
 'PAH': 'America/Chicago',
 'PBG': 'Asia/Almaty',
 'PBI': 'America/New_York',
 'PDX': 'America/Los_Angeles',
 'PHF': 'America/New_York',
 'PHL': 'America/New_York',
 'PHX': 'America/Phoenix',
 'PIA': 'America/Chicago',
 'PIB': 'America/Chicago',
 'PIH': 'America/Boise',
 'PIT': 'America/New_York',
 'PLN': 'America/Detroit',
 'PNS': 'America/Chicago',
 'PPG': 'Pacific/Pago_Pago',
 'PSC': 'America/Los_Angeles',
 'PSE': 'America/Puerto_Rico',
 'PSG': 'America/Sitka',
 'PSP': 'America/Los_Angeles',
 'PUB': 'America/Denver',
 'PVD': 'America/New_York',
 'PWM': 'America/New_York',
 'RAP': 'America/Denver',
 'RDD': 'America/Los_Angeles',
 'RDM': 'America/Los_Angeles',
 'RDU': 'America/New_York',
 'RHI': 'America/Chicago',
 'RIC': 'America/New_York',
 'RKS': 'America/Denver',
 'RNO': 'America/Los_Angeles',
 'ROA': 'America/New_York',
 'ROC': 'America/New_York',
 'ROW': 'America/Denver',
 'RST': 'America/Chicago',
 'RSW': 'America/New_York',
 'SAF': 'America/Denver',
 'SAN': 'America/Los_Angeles',
 'SAT': 'America/Chicago',
 'SAV': 'America/New_York',
 'SBA': 'America/Los_Angeles',
 'SBN': 'America/Indiana/Indianapolis',
 'SBP': 'America/Los_Angeles',
 'SCC': 'America/Anchorage',
 'SCE': 'America/New_York',
 'SDF': 'America/New_York',
 'SEA': 'America/Los_Angeles',
 'SFO': 'America/Los_Angeles',
 'SGF': 'America/Chicago',
 'SGU': 'America/Denver',
 'SHV': 'America/Chicago',
 'SIT': 'America/Sitka',
 'SJC': 'America/Los_Angeles',
 'SJT': 'America/Chicago',
 'SJU': 'America/Puerto_Rico',
 'SLC': 'America/Denver',
 'SMF': 'America/Los_Angeles',
 'SMX': 'America/Los_Angeles',
 'SNA': 'America/Los_Angeles',
 'SPI': 'America/Chicago',
 'SPS': 'America/Chicago',
 'SRQ': 'America/New_York',
 'STC': 'America/Chicago',
 'STL': 'America/Chicago',
 'STT': 'America/St_Thomas',
 'STX': 'America/St_Thomas',
 'SUN': 'America/Boise',
 'SUX': 'America/Chicago',
 'SWF': 'America/New_York',
 'SYR': 'America/New_York',
 'TLH': 'America/New_York',
 'TOL': 'America/New_York',
 'TPA': 'America/New_York',
 'TRI': 'America/New_York',
 'TTN': 'America/New_York',
 'TUL': 'America/Chicago',
 'TUS': 'America/Phoenix',
 'TVC': 'America/Detroit',
 'TWF': 'America/Boise',
 'TXK': 'America/Chicago',
 'TYR': 'America/Chicago',
 'TYS': 'America/New_York',
 'UST': 'America/New_York',
 'VEL': 'America/Denver',
 'VLD': 'America/New_York',
 'VPS': 'America/Chicago',
 'WRG': 'America/Sitka',
 'WYS': 'America/Denver',
 'XNA': 'America/Chicago',
 'YAK': 'America/Yakutat',
 'YUM': 'America/Phoenix'}

In [5]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 09:05:00,1448,2015-01-01 13:30:00,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 08:20:00,2296,2015-01-01 16:06:00,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 08:20:00,2342,2015-01-01 16:05:00,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 08:25:00,1448,2015-01-01 11:20:00,-21.0,0,0

In [6]:
flights['DEPARTURE_SCHEDULED'] = pd.to_datetime(flights['DEPARTURE_SCHEDULED'])
flights['ARRIVAL_SCHEDULED'] = pd.to_datetime(flights['ARRIVAL_SCHEDULED'])

In [7]:
departureUTC = []
arrivalUTC = []
for i in range(len(flights)): 
    if (i % 500000 == 0):
        print(i)
    originAirport = flights["ORIGIN_AIRPORT"][i]
    destinationAirport = flights["DESTINATION_AIRPORT"][i]
    timezone = pytz.timezone(airportTimezoneMapping[originAirport])
    dtOrigin = flights["DEPARTURE_SCHEDULED"][i]
    currentOrigin = timezone.localize(dtOrigin)
    departureUTC.append(str(currentOrigin.astimezone(pytz.utc))[:-6])
    
    timezoneD = pytz.timezone(airportTimezoneMapping[destinationAirport])
    dtD = flights["ARRIVAL_SCHEDULED"][i]
    currentD = timezone.localize(dtD)
    arrivalUTC.append(str(currentD.astimezone(pytz.utc))[:-6])

0
500000

KeyboardInterrupt:

In [9]:
flights['DEPARTURE_SCHEDULED'] = departureUTC
flights['ARRIVAL_SCHEDULED'] = arrivalUTC

In [15]:
flights.to_csv("Flights_Modified_V5.csv", index = False)

In [16]:
flights['DEPARTURE_SCHEDULED'] = pd.to_datetime(flights['DEPARTURE_SCHEDULED'])
flights['ARRIVAL_SCHEDULED'] = pd.to_datetime(flights['ARRIVAL_SCHEDULED'])

In [8]:
count = 0
for i in range(len(flights)):
    if (i % 500000 == 0):
        print(i)
    if flights['ARRIVAL_SCHEDULED'][i] <= flights['DEPARTURE_SCHEDULED'][i]:
        flights['ARRIVAL_SCHEDULED'][i] = flights['ARRIVAL_SCHEDULED'][i] + datetime.timedelta(days=1)
        count += 1

0

C:\Users\andre_000\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

500000
1000000
1500000
2000000
2500000
3000000
3500000
4000000
4500000
5000000
5500000

In [9]:
count

185737

In [10]:
flights.to_csv("Flights_Modified_V6.csv", index = False)

In [33]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 08:10:00,1448,2015-01-01 13:30:00,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 08:10:00,2296,2015-01-01 16:06:00,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 08:10:00,2342,2015-01-01 16:05:00,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 08:10:00,1448,2015-01-01 11:20:00,-21.0,0,0

In [23]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 08:10:00,1448,2015-01-01 13:30:00,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 08:10:00,2296,2015-01-01 16:06:00,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 08:10:00,2342,2015-01-01 16:05:00,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 08:10:00,1448,2015-01-01 11:20:00,-21.0,0,0

In [19]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 00:05:00,1448,2015-01-01 04:30:00,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 00:10:00,2330,2015-01-01 07:50:00,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 00:20:00,2296,2015-01-01 08:06:00,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 00:20:00,2342,2015-01-01 08:05:00,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 00:25:00,1448,2015-01-01 03:20:00,-21.0,0,0

In [ ]:
flights_original = pd.read_csv('flights.csv', low_memory=False)

In [ ]:
flights_original.head()

In [ ]:
flights['DATE_DEPARTURE'] = pd.to_datetime(flights_original[['YEAR','MONTH','DAY']], yearfirst=True)

In [ ]:
flights['DEPARTURE_SCHEDULED'] = pd.to_datetime(flights['DEPARTURE_SCHEDULED'])

In [ ]:
flights['ARRIVAL_SCHEDULED'] = pd.to_datetime(flights['ARRIVAL_SCHEDULED'])

In [ ]:
flights["DEPARTURE_SCHEDULED"][0][10:]

In [ ]:
flights.head()

In [ ]:
departure = []
arrival = []

for i in range(len(flights)):
    if i % 1000000 == 0:
        print (i)
    precursor = str(flights['DATE_DEPARTURE'][i])
    departure.append( precursor + flights["DEPARTURE_SCHEDULED"][i][10:])
    arrival.append(precursor + flights["ARRIVAL_SCHEDULED"][i][10:])

In [ ]:
departure[0][:11] + departure[0][-8:]

In [ ]:
for i in range(len(departure)):
    departure[i] = departure[i][:11] + departure[i][-8:]
    arrival[i] = arrival[i][:11] + arrival[i][-8:]

In [ ]:
arrival[0]

In [ ]:
flights["DEPARTURE_SCHEDULED"] = departure
flights["ARRIVAL_SCHEDULED"] = arrival

In [ ]:
cols = flights.columns.values.tolist()
cols

In [ ]:
del flights['DATE_DEPARTURE']

In [ ]:
cols = flights.columns.values.tolist()
cols

In [ ]:
flights.to_csv("Flights_Modified_V3.csv", index = False)

In [ ]:
flights2 = pd.read_csv('Flights_Modified_V2.csv', low_memory=False)

In [ ]:
flights2.head()

In [ ]:
for i in range(len(flights)):
    if flights2["ARRIVAL_SCHEDULED"] !