In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

In [2]:
#airlines = pd.read_csv('airlines.csv')
#airports = pd.read_csv('airports.csv')
flights = pd.read_csv('Pruned_New.csv', low_memory=False)

In [3]:
flights.head()

,MONTH,DAY,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DISTANCE,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,...,YEAR,DATE,DATE_STR,SCHEDULED_DEPARTURE_V1,SCHEDULED_ARRIVAL_V1,DEPARTURE_DATE_TIME_SCHEDULED,ARRIVAL_DATE_STR,ARRIVAL_DATE_TIME_SCHEDULED,ORIGIN_AIRPORT_V1,DESTINATION_AIRPORT_V1
0,1,1,4,AS,ANC,SEA,5,1448,430,-22.0,...,2015,2015-01-01,2015-01-01,00:05,04:30,2015-01-01 00:05,2015-01-01,2015-01-01 04:30,ANC,SEA
1,1,1,4,AA,LAX,PBI,10,2330,750,-9.0,...,2015,2015-01-01,2015-01-01,00:10,07:50,2015-01-01 00:10,2015-01-01,2015-01-01 07:50,LAX,PBI
2,1,1,4,US,SFO,CLT,20,2296,806,5.0,...,2015,2015-01-01,2015-01-01,00:20,08:06,2015-01-01 00:20,2015-01-01,2015-01-01 08:06,SFO,CLT
3,1,1,4,AA,LAX,MIA,20,2342,805,-9.0,...,2015,2015-01-01,2015-01-01,00:20,08:05,2015-01-01 00:20,2015-01-01,2015-01-01 08:05,LAX,MIA
4,1,1,4,AS,SEA,ANC,25,1448,320,-21.0,...,2015,2015-01-01,2015-01-01,00:25,03:20,2015-01-01 00:25,2015-01-01,2015-01-01 03:20,SEA,ANC

In [5]:
cols = flights.columns.tolist()
cols

['MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DISTANCE',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME',
 'YEAR',
 'DATE',
 'DATE_STR',
 'SCHEDULED_DEPARTURE_V1',
 'SCHEDULED_ARRIVAL_V1',
 'DEPARTURE_DATE_TIME_SCHEDULED',
 'ARRIVAL_DATE_STR',
 'ARRIVAL_DATE_TIME_SCHEDULED',
 'ORIGIN_AIRPORT_V1',
 'DESTINATION_AIRPORT_V1']

In [7]:
newCols = [ 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME','AIRLINE','ORIGIN_AIRPORT_V1',
            'DESTINATION_AIRPORT_V1',
 'DEPARTURE_DATE_TIME_SCHEDULED',
 'DISTANCE',
 'ARRIVAL_DATE_TIME_SCHEDULED',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
]

In [9]:
flights2 = flights[newCols]
flights2.columns = [ 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME','AIRLINE','ORIGIN_AIRPORT',
            'DESTINATION_AIRPORT',
 'DEPARTURE_SCHEDULED',
 'DISTANCE',
 'ARRIVAL_SCHEDULED',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
]

In [10]:
flights2.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 00:05,1448,2015-01-01 04:30,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 00:10,2330,2015-01-01 07:50,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 00:20,2296,2015-01-01 08:06,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 00:20,2342,2015-01-01 08:05,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 00:25,1448,2015-01-01 03:20,-21.0,0,0

In [ ]:
flights2.to_csv("Flights_Modified.csv", index = False)

We first take a look at our airlines. We will then construct a dictionary mapping IATA_CODE to AIRLINE for future use.

In [ ]:
airlines

In [ ]:
airlineMap = dict()
for i, code in enumerate(airlines["IATA_CODE"]):
    airlineMap[code] = airlines["AIRLINE"][i]

In [ ]:
airlineMap

In [ ]:
airports.head()

In [ ]:
flights.head()

In [ ]:
flights.info()

In [ ]:
numCancelled = sum(flights["CANCELLED"])

In [ ]:
numDiverted = sum(flights["DIVERTED"])

In [ ]:
totalScheduled = len(flights["SCHEDULED_DEPARTURE"])

In [ ]:
numOperated = totalScheduled - numCancelled

In [ ]:
print("Total number of scheduled flights: " + str(totalScheduled))
print("Total number of operated flights: " + str(numOperated))
print("Total number of cancelled flights: " + str(numCancelled))
print()
print("Percentage cancelled: " + str(numCancelled / totalScheduled * 100) + "%")
print("Percentage operated: " + str(numOperated / totalScheduled * 100) + "%")

In [ ]:
monthMap={
    1:  '01- January',
    2:  '02- February',
    3:  '03- March',
    4:  '04- April',
    5:  '05- May',
    6:  '06- June',
    7:  '07- July',
    8:  '08- August',
    9:  '09- September',
    10: '10- October',
    11: '11- November',
    12: '12- December'
}

months = []
for key in sorted(monthMap):
    months.append(monthMap[key][3:])
    

flights['MONTH_NAME'] = flights['MONTH'].apply(lambda m: monthMap[m])

daysOfWeek = []
dayOfWeekMap = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}
for key in sorted(dayOfWeekMap):
    daysOfWeek.append(dayOfWeekMap[key])
    
flights['DOW_NAME'] = flights['DAY_OF_WEEK'].apply(lambda d: dayOfWeekMap[d])
flights['AIRLINE_NAME'] = flights['AIRLINE'].apply(lambda a: airlineMap[a])
flights.head()

In [ ]:
year = [2015 for x in range(len(flights))]
flights["YEAR"] = year
flights['DATE'] = pd.to_datetime(flights[['YEAR','MONTH','DAY']], yearfirst=True)

In [ ]:
stringDates = []
for i in flights['DATE']:
    stringDates.append(str(i)[:11])
flights['DATE_STR'] = stringDates
flights.head()

In [ ]:
times = []
times_A = []
for i in flights["SCHEDULED_DEPARTURE"]:
    i = str(i)
    if len(i) == 1:
        times.append("00:0" + i)
    elif len(i) == 2:
        times.append("00:" + i)
    elif len(i) == 3:
        times.append("0" + i[0] + ":"+i[1:])
    else:
        times.append(i[:2] + ":" + i[2:])
for i in flights["SCHEDULED_ARRIVAL"]:
    i = str(i)
    if len(i) == 1:
        times_A.append("00:0" + i)
    elif len(i) == 2:
        times_A.append("00:" + i)
    elif len(i) == 3:
        times_A.append("0" + i[0] + ":"+i[1:])
    else:
        times_A.append(i[:2] + ":" + i[2:])

In [ ]:
flights["SCHEDULED_DEPARTURE_V1"] = times
flights["SCHEDULED_ARRIVAL_V1"] = times_A
flights["DEPARTURE_DATE_TIME_SCHEDULED"] = flights["DATE_STR"] + flights["SCHEDULED_DEPARTURE_V1"]
flights.head()

In [ ]:
#grouped = flights.groupby('MONTH_NAME').count()

In [ ]:
flights["DATE_STR"][0]

In [ ]:
flights["DATE"][0] + np.timedelta64(1, 'D')

In [ ]:

arrivalDates = []
for i in range(len(flights)):

    if times_A[i] < times[i]:
        arrivalDates.append(str(flights["DATE"][i] + np.timedelta64(1, 'D'))[:11])
    else:
        arrivalDates.append(flights["DATE_STR"][i])
flights['ARRIVAL_DATE_STR'] = arrivalDates
flights.head()

In [ ]:
flights["ARRIVAL_DATE_TIME_SCHEDULED"] = flights["ARRIVAL_DATE_STR"] + flights["SCHEDULED_ARRIVAL_V1"]

In [ ]:
flights.head()

In [ ]:
# Format the airport codes
df_aircode1 = pd.DataFrame.from_csv('L_AIRPORT.csv')
df_aircode2 = pd.DataFrame.from_csv('L_AIRPORT_ID.csv')
df_aircode1 = df_aircode1.reset_index()
df_aircode2 = df_aircode2.reset_index()
df_aircodes = pd.merge(df_aircode1,df_aircode2,on='Description')
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [ ]:
newFlightsOrigins = []
for i in flights['ORIGIN_AIRPORT']:
    if i in aircode_dict:
        newFlightsOrigins.append(aircode_dict[i])
    else:
        newFlightsOrigins.append(i)
newFlightsDestinations = []
for i in flights['DESTINATION_AIRPORT']:
    if i in aircode_dict:
        newFlightsDestinations.append(aircode_dict[i])
    else:
        newFlightsDestinations.append(i)
flights["ORIGIN_AIRPORT_V1"] = newFlightsOrigins
flights["DESTINATION_AIRPORT_V1"] = newFlightsDestinations

In [ ]:
flights.to_csv("Pruned_New.csv", index = False)

In [ ]:
cols = flights.columns.tolist()

In [ ]:
grouped = flights.groupby('MONTH_NAME').count()
grouped

In [ ]:
monthsCancelled = flights[flights['CANCELLED'] == 1].groupby('MONTH').count()['SCHEDULED_DEPARTURE']
monthsScheduled = flights.groupby('MONTH').count()['SCHEDULED_DEPARTURE']

dowCancelled = flights[flights['CANCELLED'] == 1].groupby('DAY_OF_WEEK').count()['SCHEDULED_DEPARTURE']
dowScheduled = flights.groupby('DAY_OF_WEEK').count()['SCHEDULED_DEPARTURE']

In [ ]:
fig = plt.figure()
fig.subplots_adjust(left=-0.4)
fig.subplots_adjust(bottom=-0.4)
plt.title('Scheduled and Cancelled Flights vs. Month', fontsize = 18)  
plt.xticks([x for x in range(12)], months)
plt.plot([x for x in range(12)], list(monthsCancelled), [x for x in range(12)], list(monthsScheduled), marker = '.', linewidth = 2)
plt.legend(('Cancelled', 'Scheduled'), loc = 'best', fontsize = 12)
plt.xlabel('Month', fontsize = 14)
plt.ylabel('Number of Flights', fontsize = 14)
plt.margins(y=0.02)

In [ ]:
fig = plt.figure()
fig.subplots_adjust(left=-0.4)
fig.subplots_adjust(bottom=-0.4)
plt.title('Scheduled and Cancelled Flights vs. Day of Week', fontsize = 18)  
plt.xticks([x for x in range(12)], daysOfWeek)
plt.plot([x for x in range(7)], list(dowCancelled), [x for x in range(7)], list(dowScheduled), marker = '.', linewidth = 2)
plt.legend(('Cancelled', 'Scheduled'), loc = 'best', fontsize = 12)
plt.xlabel('Day of Week', fontsize = 14)
plt.ylabel('Number of Flights', fontsize = 14)
plt.margins(y=0.02)

In [ ]:
heatMapAirline = flights.pivot_table(index="MONTH_NAME",columns="AIRLINE_NAME",values="SCHEDULED_DEPARTURE",aggfunc=lambda x: x.count())
heatMapAirline.head()

In [ ]:
fig = plt.figure(figsize=(10,10))
ax = sns.heatmap(heatMapAirline, linecolor="w", linewidths=2, cmap="YlGnBu")
ax.set(xlabel="Airline", ylabel = "Month")
plt.show()

In [ ]:
uniqueAirports = pd.Series.unique(flights["ORIGIN_AIRPORT"])
uniqueAirports

In [ ]:
count = 0
countGood = 0
for i in flights["ORIGIN_AIRPORT"]:
    if i[0] == "1":
        count += 1
    else:
        countGood +=1

In [ ]:
count

In [ ]:
countGood

In [ ]:
len(flights)

In [ ]:
count + countGood