In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

In [4]:
airlines = pd.read_csv('airlines.csv')
airports = pd.read_csv('airports.csv')
flights = pd.read_csv('Flights_Modified_V1.csv', low_memory=False)

In [3]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 00:05:00,1448,2015-01-01 04:30:00,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 00:10:00,2330,2015-01-01 07:50:00,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 00:20:00,2296,2015-01-01 08:06:00,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 00:20:00,2342,2015-01-01 08:05:00,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 00:25:00,1448,2015-01-01 03:20:00,-21.0,0,0

In [5]:
airports.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [7]:
allAirports = airports["IATA_CODE"].tolist()
allAirports

['ABE',
 'ABI',
 'ABQ',
 'ABR',
 'ABY',
 'ACK',
 'ACT',
 'ACV',
 'ACY',
 'ADK',
 'ADQ',
 'AEX',
 'AGS',
 'AKN',
 'ALB',
 'ALO',
 'AMA',
 'ANC',
 'APN',
 'ASE',
 'ATL',
 'ATW',
 'AUS',
 'AVL',
 'AVP',
 'AZO',
 'BDL',
 'BET',
 'BFL',
 'BGM',
 'BGR',
 'BHM',
 'BIL',
 'BIS',
 'BJI',
 'BLI',
 'BMI',
 'BNA',
 'BOI',
 'BOS',
 'BPT',
 'BQK',
 'BQN',
 'BRD',
 'BRO',
 'BRW',
 'BTM',
 'BTR',
 'BTV',
 'BUF',
 'BUR',
 'BWI',
 'BZN',
 'CAE',
 'CAK',
 'CDC',
 'CDV',
 'CEC',
 'CHA',
 'CHO',
 'CHS',
 'CID',
 'CIU',
 'CLD',
 'CLE',
 'CLL',
 'CLT',
 'CMH',
 'CMI',
 'CMX',
 'CNY',
 'COD',
 'COS',
 'COU',
 'CPR',
 'CRP',
 'CRW',
 'CSG',
 'CVG',
 'CWA',
 'DAB',
 'DAL',
 'DAY',
 'DBQ',
 'DCA',
 'DEN',
 'DFW',
 'DHN',
 'DIK',
 'DLG',
 'DLH',
 'DRO',
 'DSM',
 'DTW',
 'DVL',
 'EAU',
 'ECP',
 'EGE',
 'EKO',
 'ELM',
 'ELP',
 'ERI',
 'ESC',
 'EUG',
 'EVV',
 'EWN',
 'EWR',
 'EYW',
 'FAI',
 'FAR',
 'FAT',
 'FAY',
 'FCA',
 'FLG',
 'FLL',
 'FNT',
 'FSD',
 'FSM',
 'FWA',
 'GCC',
 'GCK',
 'GEG',
 'GFK',
 'GGG',
 'GJT',
 'GNV',
 'GPT',
 'GRB',
 'GRI',
 'GRK',
 'GRR',
 'GSO',
 'GSP',
 'GST',
 'GTF',
 'GTR',
 'GUC',
 'GUM',
 'HDN',
 'HIB',
 'HLN',
 'HNL',
 'HOB',
 'HOU',
 'HPN',
 'HRL',
 'HSV',
 'HYA',
 'HYS',
 'IAD',
 'IAG',
 'IAH',
 'ICT',
 'IDA',
 'ILG',
 'ILM',
 'IMT',
 'IND',
 'INL',
 'ISN',
 'ISP',
 'ITH',
 'ITO',
 'JAC',
 'JAN',
 'JAX',
 'JFK',
 'JLN',
 'JMS',
 'JNU',
 'KOA',
 'KTN',
 'LAN',
 'LAR',
 'LAS',
 'LAW',
 'LAX',
 'LBB',
 'LBE',
 'LCH',
 'LEX',
 'LFT',
 'LGA',
 'LGB',
 'LIH',
 'LIT',
 'LNK',
 'LRD',
 'LSE',
 'LWS',
 'MAF',
 'MBS',
 'MCI',
 'MCO',
 'MDT',
 'MDW',
 'MEI',
 'MEM',
 'MFE',
 'MFR',
 'MGM',
 'MHK',
 'MHT',
 'MIA',
 'MKE',
 'MKG',
 'MLB',
 'MLI',
 'MLU',
 'MMH',
 'MOB',
 'MOT',
 'MQT',
 'MRY',
 'MSN',
 'MSO',
 'MSP',
 'MSY',
 'MTJ',
 'MVY',
 'MYR',
 'OAJ',
 'OAK',
 'OGG',
 'OKC',
 'OMA',
 'OME',
 'ONT',
 'ORD',
 'ORF',
 'ORH',
 'OTH',
 'OTZ',
 'PAH',
 'PBG',
 'PBI',
 'PDX',
 'PHF',
 'PHL',
 'PHX',
 'PIA',
 'PIB',
 'PIH',
 'PIT',
 'PLN',
 'PNS',
 'PPG',
 'PSC',
 'PSE',
 'PSG',
 'PSP',
 'PUB',
 'PVD',
 'PWM',
 'RAP',
 'RDD',
 'RDM',
 'RDU',
 'RHI',
 'RIC',
 'RKS',
 'RNO',
 'ROA',
 'ROC',
 'ROW',
 'RST',
 'RSW',
 'SAF',
 'SAN',
 'SAT',
 'SAV',
 'SBA',
 'SBN',
 'SBP',
 'SCC',
 'SCE',
 'SDF',
 'SEA',
 'SFO',
 'SGF',
 'SGU',
 'SHV',
 'SIT',
 'SJC',
 'SJT',
 'SJU',
 'SLC',
 'SMF',
 'SMX',
 'SNA',
 'SPI',
 'SPS',
 'SRQ',
 'STC',
 'STL',
 'STT',
 'STX',
 'SUN',
 'SUX',
 'SWF',
 'SYR',
 'TLH',
 'TOL',
 'TPA',
 'TRI',
 'TTN',
 'TUL',
 'TUS',
 'TVC',
 'TWF',
 'TXK',
 'TYR',
 'TYS',
 'UST',
 'VEL',
 'VLD',
 'VPS',
 'WRG',
 'WYS',
 'XNA',
 'YAK',
 'YUM']

In [8]:
flights['DEPARTURE_SCHEDULED'] = pd.to_datetime(flights['DEPARTURE_SCHEDULED'])

In [12]:
flights['ARRIVAL_SCHEDULED'][140][11:13]

'07'

In [18]:
for i, e in enumerate(flights['ARRIVAL_SCHEDULED']):
    if e[11:13] > "23":
        print (i, e)

1124523 2015-03-14 24:00
1482599 2015-04-05 24:00

In [17]:
flights['DEPARTURE_SCHEDULED'][1124523]

Timestamp('2015-03-14 21:35:00')

In [20]:
flights['DEPARTURE_SCHEDULED'][1482599 ]

Timestamp('2015-04-05 21:49:00')

In [21]:
flights['ARRIVAL_SCHEDULED'][1124523] = "2015-03-15 00:00"
flights['ARRIVAL_SCHEDULED'][1482599] = "2015-04-06 00:00"

C:\Users\andre_000\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\andre_000\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [23]:
flights['ARRIVAL_SCHEDULED'] = pd.to_datetime(flights['ARRIVAL_SCHEDULED'])

In [24]:
flights.to_csv("Flights_Modified_V1.csv", index = False)

In [5]:
cols = flights.columns.tolist()
cols

['MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DISTANCE',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME',
 'YEAR',
 'DATE',
 'DATE_STR',
 'SCHEDULED_DEPARTURE_V1',
 'SCHEDULED_ARRIVAL_V1',
 'DEPARTURE_DATE_TIME_SCHEDULED',
 'ARRIVAL_DATE_STR',
 'ARRIVAL_DATE_TIME_SCHEDULED',
 'ORIGIN_AIRPORT_V1',
 'DESTINATION_AIRPORT_V1']

In [7]:
newCols = [ 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME','AIRLINE','ORIGIN_AIRPORT_V1',
            'DESTINATION_AIRPORT_V1',
 'DEPARTURE_DATE_TIME_SCHEDULED',
 'DISTANCE',
 'ARRIVAL_DATE_TIME_SCHEDULED',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
]

In [9]:
flights2 = flights[newCols]
flights2.columns = [ 'MONTH_NAME',
 'DOW_NAME',
 'AIRLINE_NAME','AIRLINE','ORIGIN_AIRPORT',
            'DESTINATION_AIRPORT',
 'DEPARTURE_SCHEDULED',
 'DISTANCE',
 'ARRIVAL_SCHEDULED',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
]

In [10]:
flights2.head()

,MONTH_NAME,DOW_NAME,AIRLINE_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,CANCELLED
0,01- January,Thursday,Alaska Airlines Inc.,AS,ANC,SEA,2015-01-01 00:05,1448,2015-01-01 04:30,-22.0,0,0
1,01- January,Thursday,American Airlines Inc.,AA,LAX,PBI,2015-01-01 00:10,2330,2015-01-01 07:50,-9.0,0,0
2,01- January,Thursday,US Airways Inc.,US,SFO,CLT,2015-01-01 00:20,2296,2015-01-01 08:06,5.0,0,0
3,01- January,Thursday,American Airlines Inc.,AA,LAX,MIA,2015-01-01 00:20,2342,2015-01-01 08:05,-9.0,0,0
4,01- January,Thursday,Alaska Airlines Inc.,AS,SEA,ANC,2015-01-01 00:25,1448,2015-01-01 03:20,-21.0,0,0

In [11]:
flights2.to_csv("Flights_Modified.csv", index = False)

We first take a look at our airlines. We will then construct a dictionary mapping IATA_CODE to AIRLINE for future use.

In [ ]:
airlines

In [ ]:
airlineMap = dict()
for i, code in enumerate(airlines["IATA_CODE"]):
    airlineMap[code] = airlines["AIRLINE"][i]

In [ ]:
airlineMap

In [ ]:
airports.head()

In [ ]:
flights.head()

In [ ]:
flights.info()

In [ ]:
numCancelled = sum(flights["CANCELLED"])

In [ ]:
numDiverted = sum(flights["DIVERTED"])

In [ ]:
totalScheduled = len(flights["SCHEDULED_DEPARTURE"])

In [ ]:
numOperated = totalScheduled - numCancelled

In [ ]:
print("Total number of scheduled flights: " + str(totalScheduled))
print("Total number of operated flights: " + str(numOperated))
print("Total number of cancelled flights: " + str(numCancelled))
print()
print("Percentage cancelled: " + str(numCancelled / totalScheduled * 100) + "%")
print("Percentage operated: " + str(numOperated / totalScheduled * 100) + "%")

In [ ]:
monthMap={
    1:  '01- January',
    2:  '02- February',
    3:  '03- March',
    4:  '04- April',
    5:  '05- May',
    6:  '06- June',
    7:  '07- July',
    8:  '08- August',
    9:  '09- September',
    10: '10- October',
    11: '11- November',
    12: '12- December'
}

months = []
for key in sorted(monthMap):
    months.append(monthMap[key][3:])
    

flights['MONTH_NAME'] = flights['MONTH'].apply(lambda m: monthMap[m])

daysOfWeek = []
dayOfWeekMap = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}
for key in sorted(dayOfWeekMap):
    daysOfWeek.append(dayOfWeekMap[key])
    
flights['DOW_NAME'] = flights['DAY_OF_WEEK'].apply(lambda d: dayOfWeekMap[d])
flights['AIRLINE_NAME'] = flights['AIRLINE'].apply(lambda a: airlineMap[a])
flights.head()

In [ ]:
year = [2015 for x in range(len(flights))]
flights["YEAR"] = year
flights['DATE'] = pd.to_datetime(flights[['YEAR','MONTH','DAY']], yearfirst=True)

In [ ]:
stringDates = []
for i in flights['DATE']:
    stringDates.append(str(i)[:11])
flights['DATE_STR'] = stringDates
flights.head()

In [ ]:
times = []
times_A = []
for i in flights["SCHEDULED_DEPARTURE"]:
    i = str(i)
    if len(i) == 1:
        times.append("00:0" + i)
    elif len(i) == 2:
        times.append("00:" + i)
    elif len(i) == 3:
        times.append("0" + i[0] + ":"+i[1:])
    else:
        times.append(i[:2] + ":" + i[2:])
for i in flights["SCHEDULED_ARRIVAL"]:
    i = str(i)
    if len(i) == 1:
        times_A.append("00:0" + i)
    elif len(i) == 2:
        times_A.append("00:" + i)
    elif len(i) == 3:
        times_A.append("0" + i[0] + ":"+i[1:])
    else:
        times_A.append(i[:2] + ":" + i[2:])

In [ ]:
flights["SCHEDULED_DEPARTURE_V1"] = times
flights["SCHEDULED_ARRIVAL_V1"] = times_A
flights["DEPARTURE_DATE_TIME_SCHEDULED"] = flights["DATE_STR"] + flights["SCHEDULED_DEPARTURE_V1"]
flights.head()

In [ ]:
#grouped = flights.groupby('MONTH_NAME').count()

In [ ]:
flights["DATE_STR"][0]

In [ ]:
flights["DATE"][0] + np.timedelta64(1, 'D')

In [ ]:

arrivalDates = []
for i in range(len(flights)):

    if times_A[i] < times[i]:
        arrivalDates.append(str(flights["DATE"][i] + np.timedelta64(1, 'D'))[:11])
    else:
        arrivalDates.append(flights["DATE_STR"][i])
flights['ARRIVAL_DATE_STR'] = arrivalDates
flights.head()

In [ ]:
flights["ARRIVAL_DATE_TIME_SCHEDULED"] = flights["ARRIVAL_DATE_STR"] + flights["SCHEDULED_ARRIVAL_V1"]

In [ ]:
flights.head()

In [ ]:
# Format the airport codes
df_aircode1 = pd.DataFrame.from_csv('L_AIRPORT.csv')
df_aircode2 = pd.DataFrame.from_csv('L_AIRPORT_ID.csv')
df_aircode1 = df_aircode1.reset_index()
df_aircode2 = df_aircode2.reset_index()
df_aircodes = pd.merge(df_aircode1,df_aircode2,on='Description')
aircode_dict = dict(zip(df_aircodes['Code_y'].astype(str),df_aircodes['Code_x']))

In [ ]:
newFlightsOrigins = []
for i in flights['ORIGIN_AIRPORT']:
    if i in aircode_dict:
        newFlightsOrigins.append(aircode_dict[i])
    else:
        newFlightsOrigins.append(i)
newFlightsDestinations = []
for i in flights['DESTINATION_AIRPORT']:
    if i in aircode_dict:
        newFlightsDestinations.append(aircode_dict[i])
    else:
        newFlightsDestinations.append(i)
flights["ORIGIN_AIRPORT_V1"] = newFlightsOrigins
flights["DESTINATION_AIRPORT_V1"] = newFlightsDestinations

In [ ]:
flights.to_csv("Pruned_New.csv", index = False)

In [ ]:
cols = flights.columns.tolist()

In [ ]:
grouped = flights.groupby('MONTH_NAME').count()
grouped

In [ ]:
monthsCancelled = flights[flights['CANCELLED'] == 1].groupby('MONTH').count()['SCHEDULED_DEPARTURE']
monthsScheduled = flights.groupby('MONTH').count()['SCHEDULED_DEPARTURE']

dowCancelled = flights[flights['CANCELLED'] == 1].groupby('DAY_OF_WEEK').count()['SCHEDULED_DEPARTURE']
dowScheduled = flights.groupby('DAY_OF_WEEK').count()['SCHEDULED_DEPARTURE']

In [ ]:
fig = plt.figure()
fig.subplots_adjust(left=-0.4)
fig.subplots_adjust(bottom=-0.4)
plt.title('Scheduled and Cancelled Flights vs. Month', fontsize = 18)  
plt.xticks([x for x in range(12)], months)
plt.plot([x for x in range(12)], list(monthsCancelled), [x for x in range(12)], list(monthsScheduled), marker = '.', linewidth = 2)
plt.legend(('Cancelled', 'Scheduled'), loc = 'best', fontsize = 12)
plt.xlabel('Month', fontsize = 14)
plt.ylabel('Number of Flights', fontsize = 14)
plt.margins(y=0.02)

In [ ]:
fig = plt.figure()
fig.subplots_adjust(left=-0.4)
fig.subplots_adjust(bottom=-0.4)
plt.title('Scheduled and Cancelled Flights vs. Day of Week', fontsize = 18)  
plt.xticks([x for x in range(12)], daysOfWeek)
plt.plot([x for x in range(7)], list(dowCancelled), [x for x in range(7)], list(dowScheduled), marker = '.', linewidth = 2)
plt.legend(('Cancelled', 'Scheduled'), loc = 'best', fontsize = 12)
plt.xlabel('Day of Week', fontsize = 14)
plt.ylabel('Number of Flights', fontsize = 14)
plt.margins(y=0.02)

In [ ]:
heatMapAirline = flights.pivot_table(index="MONTH_NAME",columns="AIRLINE_NAME",values="SCHEDULED_DEPARTURE",aggfunc=lambda x: x.count())
heatMapAirline.head()

In [ ]:
fig = plt.figure(figsize=(10,10))
ax = sns.heatmap(heatMapAirline, linecolor="w", linewidths=2, cmap="YlGnBu")
ax.set(xlabel="Airline", ylabel = "Month")
plt.show()

In [ ]:
uniqueAirports = pd.Series.unique(flights["ORIGIN_AIRPORT"])
uniqueAirports

In [ ]:
count = 0
countGood = 0
for i in flights["ORIGIN_AIRPORT"]:
    if i[0] == "1":
        count += 1
    else:
        countGood +=1

In [ ]:
count

In [ ]:
countGood

In [ ]:
len(flights)

In [ ]:
count + countGood