In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date
%matplotlib inline

In [2]:
flights = pd.read_csv('biggestData.csv', index_col = False)

C:\Users\andre_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (14,15,16,17,19,20,24,25,26,27,29,30,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,...,arr_windspd,arr_precip,dept_alti_y,dept_vsby_y,dept_gust_y,dept_sky_y,dept_weather_y,CertificateDate,Manu,Model
0,01- January,4,AS,ANC,SEA,2015-01-01 09:05:00,1448,2015-01-01 13:30:00,-22.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,12/18/2012,BOEING,737-990ER
1,01- January,4,AS,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:09:00,-14.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,0,0,0
2,01- January,4,DL,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:15:00,-24.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,04/10/2001,AIRBUS,A321-211
3,01- January,4,AS,GEG,SEA,2015-01-01 13:00:00,224,2015-01-01 14:10:00,0.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,0,0,0
4,01- January,4,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,...,3.00,0.0,30.21,10.00,M,FEW,M,05/26/2009,BOEING,737-890

In [4]:
del flights["Unnamed: 0"]

In [9]:
monthMap = {
    '01- January':1,
    '02- February':2,
    '03- March':3,
    '04- April':4,
    '05- May':5,
    '06- June':6,
    '07- July':7,
    '08- August':8,
    '09- September':9,
    '10- October':10,
    '11- November':11,
    '12- December':12
    
}
flights['MONTH_NAME'] = flights['MONTH_NAME'].apply(lambda d: monthMap[d])

In [10]:
dayOfWeekMap = {
    'Monday':1,
    'Tuesday':2,
    'Wednesday':3,
    'Thursday':4,
    'Friday':5,
    'Saturday':6,
    'Sunday':7
}
flights['DOW_NAME'] = flights['DOW_NAME'].apply(lambda d: dayOfWeekMap[d])

KeyError: 4

In [11]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,...,arr_windspd,arr_precip,dept_alti_y,dept_vsby_y,dept_gust_y,dept_sky_y,dept_weather_y,CertificateDate,Manu,Model
0,1,4,AS,ANC,SEA,2015-01-01 09:05:00,1448,2015-01-01 13:30:00,-22.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,12/18/2012,BOEING,737-990ER
1,1,4,AS,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:09:00,-14.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,0,0,0
2,1,4,DL,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:15:00,-24.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,04/10/2001,AIRBUS,A321-211
3,1,4,AS,GEG,SEA,2015-01-01 13:00:00,224,2015-01-01 14:10:00,0.0,0,...,0.00,0.0,30.32,10.0,M,CLR,M,0,0,0
4,1,4,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,...,3.00,0.0,30.21,10.00,M,FEW,M,05/26/2009,BOEING,737-890

In [12]:
flights['DEPARTURE_SCHEDULED'] = pd.to_datetime(flights['DEPARTURE_SCHEDULED'])
flights['ARRIVAL_SCHEDULED'] = pd.to_datetime(flights['ARRIVAL_SCHEDULED'])

In [25]:
daysSinceBeginning = []
d0 = date(2015,1,1)
delta = flights['DEPARTURE_SCHEDULED'] - d0
for i in delta:
    daysSinceBeginning.append(i.days)

In [38]:
departureHours = []
for i in delta:
    departureHours.append(round(i.seconds/(3600),1))

In [39]:
arrivalHours = []
d0 = date(2015,1,1)
delta2 = flights['ARRIVAL_SCHEDULED'] - d0
for i in delta2:
    arrivalHours.append(round(i.seconds/(3600),1))

In [52]:
flights["DAYS"] = daysSinceBeginning

In [53]:
flights["DEPARTURE_HOUR"] = departureHours
flights["ARRIVAL_HOUR"] = arrivalHours

In [54]:
flights.head()

,MONTH_NAME,DOW_NAME,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DEPARTURE_SCHEDULED,DISTANCE,ARRIVAL_SCHEDULED,ARRIVAL_DELAY,DIVERTED,...,dept_vsby_y,dept_gust_y,dept_sky_y,dept_weather_y,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,ANC,SEA,2015-01-01 09:05:00,1448,2015-01-01 13:30:00,-22.0,0,...,10.0,M,CLR,M,12/18/2012,BOEING,737-990ER,0,9.1,13.5
1,1,4,AS,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:09:00,-14.0,0,...,10.0,M,CLR,M,0,0,0,0,9.8,14.2
2,1,4,DL,ANC,SEA,2015-01-01 09:45:00,1448,2015-01-01 14:15:00,-24.0,0,...,10.0,M,CLR,M,04/10/2001,AIRBUS,A321-211,0,9.8,14.2
3,1,4,AS,GEG,SEA,2015-01-01 13:00:00,224,2015-01-01 14:10:00,0.0,0,...,10.0,M,CLR,M,0,0,0,0,13.0,14.2
4,1,4,AA,LAX,PBI,2015-01-01 08:10:00,2330,2015-01-01 15:50:00,-9.0,0,...,10.00,M,FEW,M,05/26/2009,BOEING,737-890,0,8.2,15.8

In [55]:
del flights["DEPARTURE_SCHEDULED"]
del flights["ARRIVAL_SCHEDULED"]

In [3]:
flights = pd.read_csv('BigData_Pruned.csv', index_col = False)

C:\Users\andre_000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (11,12,13,14,16,17,21,22,23,24,26,27,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
list(flights)

['MONTH_NAME',
 'DOW_NAME',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'ORIGIN_WEATHER_TIME',
 'DESTINATION_WEATHER_TIME',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti_x',
 'dept_vsby_x',
 'dept_gust_x',
 'dept_sky_x',
 'dept_weather_x',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'dept_alti_y',
 'dept_vsby_y',
 'dept_gust_y',
 'dept_sky_y',
 'dept_weather_y',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [10]:
del flights['ORIGIN_WEATHER_TIME']
del flights['DESTINATION_WEATHER_TIME']

In [11]:
list(flights)

['MONTH_NAME',
 'DOW_NAME',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti_x',
 'dept_vsby_x',
 'dept_gust_x',
 'dept_sky_x',
 'dept_weather_x',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'dept_alti_y',
 'dept_vsby_y',
 'dept_gust_y',
 'dept_sky_y',
 'dept_weather_y',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [12]:
flights.columns = ['MONTH',
 'DOW',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti',
 'dept_vsby',
 'dept_gust',
 'dept_sky',
 'dept_weather',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'arr_alti',
 'arr_vsby',
 'arr_gust',
 'arr_sky',
 'arr_weather',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [13]:
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,DIVERTED,CANCELLED,dept_temp,...,arr_vsby,arr_gust,arr_sky,arr_weather,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,AS,ANC,SEA,1448,-22.0,0,0,33.8,...,10.0,M,CLR,M,12/18/2012,BOEING,737-990ER,0,9.1,13.5
1,1,4,AS,ANC,SEA,1448,-14.0,0,0,33.8,...,10.0,M,CLR,M,0,0,0,0,9.8,14.2
2,1,4,DL,ANC,SEA,1448,-24.0,0,0,33.8,...,10.0,M,CLR,M,04/10/2001,AIRBUS,A321-211,0,9.8,14.2
3,1,4,AS,GEG,SEA,224,0.0,0,0,8.96,...,10.0,M,CLR,M,0,0,0,0,13.0,14.2
4,1,4,AA,LAX,PBI,2330,-9.0,0,0,46.04,...,10.00,M,FEW,M,05/26/2009,BOEING,737-890,0,8.2,15.8

In [14]:
list(flights)

['MONTH',
 'DOW',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti',
 'dept_vsby',
 'dept_gust',
 'dept_sky',
 'dept_weather',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'arr_alti',
 'arr_vsby',
 'arr_gust',
 'arr_sky',
 'arr_weather',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']