In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time
import glob
%matplotlib inline
from sklearn import preprocessing
import tables
import h5py
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.model_selection import GridSearchCV

In [5]:
flights = pd.read_csv('RegressingOnlyDelays.csv')
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,OO,BRD,MSP,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,BOMBARDIER,CL-600-2B19,0,13.4,14.2
1,1,4,AA,MSP,MIA,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,BOEING,717-200,0,12.8,17.5
2,1,4,AA,DFW,MIA,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,AIRBUS,A320-232,0,14.0,17.8
3,1,4,DL,MIA,ATL,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,BOMBARDIER,CL-600-2B19,0,12.8,14.8
4,1,4,OO,IAH,MIA,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,BOEING,737-924ER,0,13.7,17.0

In [4]:
toDrop = []
for i, j in enumerate(flights["ARRIVAL_DELAY"]):
    if (j < 15):
        toDrop.append(i)

In [5]:
len(toDrop)

3979035

In [6]:
flights.drop(flights.index[toDrop], inplace=True)

In [7]:
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
48,1,4,OO,BRD,MSP,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,BOMBARDIER,CL-600-2B19,0,13.4,14.2
51,1,4,AA,MSP,MIA,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,BOEING,717-200,0,12.8,17.5
53,1,4,AA,DFW,MIA,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,AIRBUS,A320-232,0,14.0,17.8
78,1,4,DL,MIA,ATL,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,BOMBARDIER,CL-600-2B19,0,12.8,14.8
93,1,4,OO,IAH,MIA,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,BOEING,737-924ER,0,13.7,17.0

In [8]:
flights.to_csv("RegressingOnlyDelays.csv", index = False)

In [9]:
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
48,1,4,OO,BRD,MSP,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,BOMBARDIER,CL-600-2B19,0,13.4,14.2
51,1,4,AA,MSP,MIA,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,BOEING,717-200,0,12.8,17.5
53,1,4,AA,DFW,MIA,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,AIRBUS,A320-232,0,14.0,17.8
78,1,4,DL,MIA,ATL,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,BOMBARDIER,CL-600-2B19,0,12.8,14.8
93,1,4,OO,IAH,MIA,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,BOEING,737-924ER,0,13.7,17.0

In [10]:
sum(flights["ARRIVAL_DELAY"]) / len(flights["ARRIVAL_DELAY"])

58.775057498725616

In [6]:
orig_airports = flights['ORIGIN_AIRPORT'].tolist()
dest_airports = flights['DESTINATION_AIRPORT'].tolist()

In [7]:
le_airports = preprocessing.LabelEncoder()
le_airports.fit(orig_airports)
#print(le_airports.classes_)
enc_orig_airports = le_airports.transform(orig_airports)
enc_dest_airports = le_airports.transform(dest_airports) 

enc_dest_airports

array([216, 203, 203, ..., 174, 174, 174], dtype=int64)

In [8]:
flights['ORIGIN_AIRPORT'] = enc_orig_airports
flights['DESTINATION_AIRPORT'] = enc_dest_airports
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,OO,43,216,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,BOMBARDIER,CL-600-2B19,0,13.4,14.2
1,1,4,AA,216,203,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,BOEING,717-200,0,12.8,17.5
2,1,4,AA,86,203,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,AIRBUS,A320-232,0,14.0,17.8
3,1,4,DL,203,20,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,BOMBARDIER,CL-600-2B19,0,12.8,14.8
4,1,4,OO,151,203,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,BOEING,737-924ER,0,13.7,17.0

In [9]:
manufacts = flights['Manu'].tolist()

le_manu = preprocessing.LabelEncoder()
le_manu.fit(manufacts)
#print(le_airports.classes_)
enc_manufacts = le_manu.transform(manufacts)

flights['Manu'] = enc_manufacts
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,OO,43,216,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,7,CL-600-2B19,0,13.4,14.2
1,1,4,AA,216,203,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,6,717-200,0,12.8,17.5
2,1,4,AA,86,203,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,1,A320-232,0,14.0,17.8
3,1,4,DL,203,20,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,7,CL-600-2B19,0,12.8,14.8
4,1,4,OO,151,203,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,6,737-924ER,0,13.7,17.0

In [10]:
models = flights['Model'].tolist()

le_model = preprocessing.LabelEncoder()
le_model.fit(models)
#print(le_airports.classes_)
enc_models = le_model.transform(models)

flights['Model'] = enc_models
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,OO,43,216,114,16,23.00,19.04,84.54,...,0,29.84,8,FEW,2014.0,7,109,0,13.4,14.2
1,1,4,AA,216,203,1501,16,17.06,10.04,73.46,...,0,30.15,10,SCT,2011.0,6,11,0,12.8,17.5
2,1,4,AA,86,203,1121,78,32.00,28.94,88.32,...,0,30.15,10,SCT,2015.0,1,102,0,14.0,17.8
3,1,4,DL,203,20,594,27,71.96,69.08,90.66,...,0,30.34,10,FEW,2016.0,7,109,0,12.8,14.8
4,1,4,OO,151,203,964,17,42.80,37.40,81.07,...,0,30.18,10,FEW,2013.0,6,50,0,13.7,17.0

In [11]:
arr_sky = flights['arr_sky'].tolist()
dept_sky = flights['dept_sky'].tolist()

le_sky = preprocessing.LabelEncoder()
le_sky.fit(arr_sky)
#print(le_airports.classes_)
enc_arr_sky = le_sky.transform(arr_sky)
enc_dept_sky = le_sky.transform(dept_sky)

flights['dept_sky'] = enc_dept_sky
flights['arr_sky'] = enc_arr_sky
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,OO,43,216,114,16,23.00,19.04,84.54,...,0,29.84,8,2,2014.0,7,109,0,13.4,14.2
1,1,4,AA,216,203,1501,16,17.06,10.04,73.46,...,0,30.15,10,4,2011.0,6,11,0,12.8,17.5
2,1,4,AA,86,203,1121,78,32.00,28.94,88.32,...,0,30.15,10,4,2015.0,1,102,0,14.0,17.8
3,1,4,DL,203,20,594,27,71.96,69.08,90.66,...,0,30.34,10,2,2016.0,7,109,0,12.8,14.8
4,1,4,OO,151,203,964,17,42.80,37.40,81.07,...,0,30.18,10,2,2013.0,6,50,0,13.7,17.0

In [12]:
airlines = flights['AIRLINE'].tolist()
le_airline = preprocessing.LabelEncoder()
le_airline.fit(airlines)
#print(le_airports.classes_)
enc_airlines = le_airline.transform(airlines)

flights['AIRLINE'] = enc_airlines
flights.head()

,MONTH,DOW,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,DISTANCE,ARRIVAL_DELAY,dept_temp,dept_dew,dept_hum,...,arr_precip,arr_alti,arr_vsby,arr_sky,CertificateDate,Manu,Model,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR
0,1,4,9,43,216,114,16,23.00,19.04,84.54,...,0,29.84,8,2,2014.0,7,109,0,13.4,14.2
1,1,4,0,216,203,1501,16,17.06,10.04,73.46,...,0,30.15,10,4,2011.0,6,11,0,12.8,17.5
2,1,4,0,86,203,1121,78,32.00,28.94,88.32,...,0,30.15,10,4,2015.0,1,102,0,14.0,17.8
3,1,4,3,203,20,594,27,71.96,69.08,90.66,...,0,30.34,10,2,2016.0,7,109,0,12.8,14.8
4,1,4,9,151,203,964,17,42.80,37.40,81.07,...,0,30.18,10,2,2013.0,6,50,0,13.7,17.0

In [13]:
list(flights)

['MONTH',
 'DOW',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'ARRIVAL_DELAY',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti',
 'dept_vsby',
 'dept_sky',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'arr_alti',
 'arr_vsby',
 'arr_sky',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [14]:
features = [i for i in list(flights) if i != "ARRIVAL_DELAY"]

In [15]:
features

['MONTH',
 'DOW',
 'AIRLINE',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'DISTANCE',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_windspd',
 'dept_precip',
 'dept_alti',
 'dept_vsby',
 'dept_sky',
 'arr_temp',
 'arr_dew',
 'arr_hum',
 'arr_windspd',
 'arr_precip',
 'arr_alti',
 'arr_vsby',
 'arr_sky',
 'CertificateDate',
 'Manu',
 'Model',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [16]:
X = flights[features]
y = flights["ARRIVAL_DELAY"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [22]:
sum(y_train)/ len(y_train)

58.759067199052666

In [23]:
x = [58.759067199052666 for i in range(len(y_test))]

In [24]:
mean_absolute_error(y_test, x)

39.745654917207453

In [ ]:
#mean_absolute_error: 39.7456 if just predicting average

#parameters = {'criterion': ["mae"], 'min_samples_split' : [0.05, .15, .2], 'max_depth': [10,20,30,40], 'min_impurity_split' : [.00001, 0.0001, .001, .01]}

In [15]:
parameters = {'min_samples_split' : [0.05, .1, .15, .2]}

In [25]:
regressor = DecisionTreeRegressor(min_samples_split = 1e-03)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=0.0001,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [26]:
a = regressor.predict(X_test)

In [27]:
a

array([  53.53947368,   25.5       ,   27.76712329, ...,   63.79104478,
        189.16      ,  111.07692308])

In [28]:
mean_absolute_error(y_test, a)

41.206356597252253

In [ ]:
regressor = DecisionTreeRegressor()
clf = GridSearchCV(regressor, parameters)
clf.fit(X_train, y_train)

In [16]:
X_new = SelectKBest(chi2, k=5).fit_transform(X, y)

ValueError: Input X must be non-negative.

In [38]:
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_split=1e-07,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, presort=False, random_state=None,
           splitter='best')

In [58]:
b = regressor.feature_importances_
len(b)

28

In [63]:
a = zip(X.columns, regressor.feature_importances_)
for i in a:
    print (i)

('MONTH', 0.0028100704301275933)
('DOW', 0.032658328300337318)
('AIRLINE', 0.050680050818507578)
('ORIGIN_AIRPORT', 0.038426403646046228)
('DESTINATION_AIRPORT', 0.027173389702918691)
('DISTANCE', 0.036077817191289982)
('dept_temp', 0.068062365716839296)
('dept_dew', 0.044342529725505786)
('dept_hum', 0.055112870799337563)
('dept_windspd', 0.027000582263818781)
('dept_precip', 0.0013496610122443276)
('dept_alti', 0.049617084016962361)
('dept_vsby', 0.05627456231408981)
('dept_sky', 0.0028689084398587361)
('arr_temp', 0.033419968827261365)
('arr_dew', 0.022251442120310671)
('arr_hum', 0.064925925750954072)
('arr_windspd', 0.02225563924963414)
('arr_precip', 0.00080274111876291339)
('arr_alti', 0.03571745933336095)
('arr_vsby', 0.018865218917167415)
('arr_sky', 0.0029945573085534008)
('CertificateDate', 0.0062441727612615695)
('Manu', 0.0014216957010039903)
('Model', 0.0059102467085538086)
('DAYS', 0.17102452590773745)
('DEPARTURE_HOUR', 0.064065611445151008)
('ARRIVAL_HOUR', 0.057646170472403162)

In [57]:
sorted(zip(map(lambda x: round(x, 4), regressor.feature_importances_), names), 
             reverse=True)

NameError: name 'names' is not defined

In [65]:
a = regressor.feature_importances_
a

array([ 0.00281007,  0.03265833,  0.05068005,  0.0384264 ,  0.02717339,
        0.03607782,  0.06806237,  0.04434253,  0.05511287,  0.02700058,
        0.00134966,  0.04961708,  0.05627456,  0.00286891,  0.03341997,
        0.02225144,  0.06492593,  0.02225564,  0.00080274,  0.03571746,
        0.01886522,  0.00299456,  0.00624417,  0.0014217 ,  0.00591025,
        0.17102453,  0.06406561,  0.05764617])

In [52]:
b = a[:]
b = sorted(b)
c = b[::-1]
c[:10]

[0.17102452590773745,
 0.068062365716839296,
 0.064925925750954072,
 0.064065611445151008,
 0.057646170472403162,
 0.05627456231408981,
 0.055112870799337563,
 0.050680050818507578,
 0.049617084016962361,
 0.044342529725505786]

In [51]:
a

array([ 0.00281007,  0.03265833,  0.05068005,  0.0384264 ,  0.02717339,
        0.03607782,  0.06806237,  0.04434253,  0.05511287,  0.02700058,
        0.00134966,  0.04961708,  0.05627456,  0.00286891,  0.03341997,
        0.02225144,  0.06492593,  0.02225564,  0.00080274,  0.03571746,
        0.01886522,  0.00299456,  0.00624417,  0.0014217 ,  0.00591025,
        0.17102453,  0.06406561,  0.05764617])

In [66]:
cols = []
for i, j in enumerate(a):
    if j in c[:10]:
        cols.append(features[i])
cols
#BEST WAY TO FIND MAPPING

['AIRLINE',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_alti',
 'dept_vsby',
 'arr_hum',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR']

In [40]:
clf = ExtraTreesClassifier()
clf = clf.fit(X_train, y_train)

KeyboardInterrupt:

In [25]:
y_pred = regressor.predict(X_test)

In [26]:
mean_absolute_error(y_test, y_pred)

19.913205296315109

Mean_absolute_error if just using average: 21.155373297833648

In [74]:
df1 = flights[['AIRLINE',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_alti',
 'dept_vsby',
 'arr_hum',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR', 'ARRIVAL_DELAY']]

In [75]:
list(df1)

['AIRLINE',
 'dept_temp',
 'dept_dew',
 'dept_hum',
 'dept_alti',
 'dept_vsby',
 'arr_hum',
 'DAYS',
 'DEPARTURE_HOUR',
 'ARRIVAL_HOUR',
 'ARRIVAL_DELAY']

In [76]:
df1.head()

,AIRLINE,dept_temp,dept_dew,dept_hum,dept_alti,dept_vsby,arr_hum,DAYS,DEPARTURE_HOUR,ARRIVAL_HOUR,ARRIVAL_DELAY
0,1,33.80,30.20,86.49,30.18,1,74.70,0,9.1,13.5,-22
1,3,33.80,32.00,93.03,30.16,1,74.70,0,9.8,14.2,-24
2,0,46.04,19.94,35.05,30.06,10,81.85,0,8.2,15.8,-9
3,3,17.96,6.98,61.57,30.00,10,81.85,0,13.0,16.1,-8
4,0,28.04,6.08,38.69,30.17,10,81.85,0,12.5,15.5,-12

In [77]:
df1.to_csv("BigData_Pruned_Top10.csv", index = False)